@import url('https://fonts.googleapis.com/css?family=Muli:200,300,400,600,700,800,900&display=swap');

html,
body,
main {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Muli', sans-serif;
}

section {
  background-color: #F6F9FC;
}

p {
  font-size: 20px;
}

li {
  list-style: none;
  font-weight: 300;
  color: #092234;
}

nav {
  color: #092234 !important;
}

nav p {
  padding-right: 100px;
}

h2{
  color: #092234;
  font-weight: 400 !important;
}

h6{
  color: #092234;
  font-weight: 400 !important;
}


.pd-b-80 {
  padding-bottom: 80px;
}

.pd-t-80 {
  padding-top: 80px;
}

.pd-b-40 {
  padding-bottom: 40px;
}

.pd-t-40 {
  padding-top: 40px;
}

.pd-b-20 {
  padding-bottom: 20px;
}

.pd-t-20 {
  padding-top: 20px;
}

i.fas.fa-check {
  color: #00A948;
  font-size: 11px;
  padding-right: 10px;
}

h6.title-list {
  font-weight: 500 !important;
}

.btn {
  color: #000;
  margin: 0;
  padding: 0;
  font-size: 18px;
}

.btn-disable {
  color: rgb(175, 175, 175) !important;
}

.btn.focus,
.btn:focus {
  outline: 0;
  box-shadow: none !important;
}

i.fas.fa-long-arrow-alt-left,
i.fas.fa-long-arrow-alt-right {
  font-size: 20px;
}

img.aspas {
  width: 55px;
  margin-top: -15px !important;
  align-self: flex-end;
}

.container {
  overflow: hidden;
}

.hidden {
  display: none;
  transform: translateY(0px) translateX(60%);
  transition: transform 0.3s, left .03s, opacity 0.3s, z-index 0s;
}

.card-body.d-flex {
  margin: 0;
  padding: 0;
  transition: transform 0.3s, left .03s, opacity 0.3s, z-index 0s;
  transition-timing-function: ease-out;
}

.card {
  padding: 20px 20px 20px 20px;
  max-width: 500px;
  background-color: #fff;
  border: none !important;
  border-radius: 0 !important;
  -webkit-box-shadow: 0px 0px 35px -28px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 35px -28px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 35px -28px rgba(0, 0, 0, 0.75);
  transition: transform 0.3s, left .03s, opacity 0.3s, z-index 0s;
  transition-timing-function: ease-out;
}

.card h4 {
  font-size: 18px
}

.card p {
  padding-top: 5px;
  font-size: 14px;
  color: #676767;
}

#carousel .card {
  position: absolute;
  transition: transform 0.3s, left .03s, opacity 0.3s, z-index 0s;
  transition-timing-function: ease-out;
  opacity: 1;
  max-width: 400px;
}

#carousel div.selected {
  z-index: 10;
  transform: translateY(0px) translateX(0%);
  transition: transform 0.3s, left .03s, opacity 0.3s, z-index 0s;
  transition-timing-function: ease-out;
}

#carousel .next {
  z-index: 5;
  opacity: 0.6 !important;
  transform: translateY(0px) translateX(60%);
  transition: transform 0.3s, left .03s, opacity 0.3s, z-index 0s;
  transition-timing-function: ease-out;
}

#carousel div.hidden-lf {
  left: 0%;
  opacity: 0;
  transform: translateY(0px) translateX(60%);
  transition: transform 0.3s, left .03s, opacity 0.3s, z-index 0s;
  transform: translateY(0px) translateX(-50%);
}




/* Responsividade absolute */
@media only screen and (max-width: 1300px) {
  #carousel .next {
    z-index: 5;
    opacity: 0.6 !important;
    transform: translateY(0px) translateX(75%);
  }

  nav p {
    padding-right: 0px;
  }
}

@media only screen and (max-width: 1180px) {
  #carousel .next {
    z-index: 5;
    opacity: 0.6 !important;
    transform: translateY(0px) translateX(90%);
  }
}

@media only screen and (max-width: 991px) {
  #carousel .next {
    z-index: 5;
    opacity: 0.6 !important;
    transform: translateY(0px) translateX(95%);
  }
}

@media only screen and (max-width: 767px) {
  #carousel .next {
    z-index: 5;
    opacity: 0.6 !important;
    transform: translateY(30px) translateX(150%);
  }

  #carousel div.selected {
    z-index: 10;
    transform: translateY(30px) translateX(0%);
  }

  .container-absolute {
    padding-bottom: 200px;
  }

}

@media only screen and (max-width: 575px) {

  #carousel .card {
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
  }

  #carousel .next {
    z-index: 5;
    opacity: 0.6 !important;
    transform: translateY(30px) translateX(85%);
  }

  .container-absolute {
    padding-bottom: 220px;
  }

}

@media only screen and (max-width: 500px) {

  #carousel .next {
    z-index: 5;
    opacity: 0.6 !important;
    transform: translateY(30px) translateX(105%);
  }

}